@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

button{
    cursor: pointer;
}

.upload-progress-container-new {
  width: 100%;
  max-width: 100%; /* adjust as needed */
  height: 11px;
  background: #d1d5db; /* light grey / white */
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.upload-progress-bar-new {
  height: 100%;
  background: linear-gradient(90deg, #c084fc, #ec4899, #60a5fa);
  background-size: 200% 100%; /* allow animation */
  animation: progressGradient 3s ease infinite;
  border-radius: 12px 0 0 12px;
  position: relative;
  transition: width 0.3s ease-in-out;
}

/* Animate the gradient left-to-right */
@keyframes progressGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.upload-progress-thumb {
  position: absolute;
  right: -20px; /* attach to the end of green bar */
  bottom: -28px; /* place below bar */
  font-size: 13px;
  font-weight: bold;
  color: #16a34a;
  background: #ffffff;
  padding: 2px 6px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  white-space: nowrap;
}
.upload-progress-speed {
  position: absolute;
  right: 0;
  top: -28px;
  font-size: 12px;
  font-weight: 500;
  color: #374151;
  background: #ffffff;
  padding: 2px 6px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  white-space: nowrap;
}



.auth-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Full screen center */
  width: 100%;
}

.auth-spinner {
  border: 6px solid #e0e7ff; /* Light blue background ring */
  border-top: 6px solid #2563eb; /* Blue spinning part */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  box-shadow: 0 0 15px rgba(37, 99, 235, 0.4);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

