.users-container {
  padding: 30px;
  padding-left: 45px;
  min-height: 100vh;
  color: #1a1a1a;
  background-color: #fbf9fa;
  
}

.users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users-header h2 {
  font-size: 30px;
  color: #000;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
}

.users-header p {
  color: #333;
  margin: 4px 0 0;
}
@media (max-width: 768px) {
  .users-container {
    padding: 20px;
    padding-top: 90px; /* requested */
  }

  .users-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .users-header h2 {
    font-size: 22px;
  }

  .users-header p {
    font-size: 13px;
  }
}



.users-container .add-btn {
  background:#6366f1;
  color: #fff;
  border: none;
  padding: 9px 16px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  text-shadow: 0 1px 2px 0 #0000000d;
  font-size: 13px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,0 0 #0000;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
    font-family: "GeistSans","GeistSans Fallback";
}
.users-container .add-btn:hover {
 background: #7e7fd9;
}
.users-container .add-btn span{
    font-size: 19px;
    margin-top: 1px;
font-weight: 400;
}