.conversions-container {
  padding: 25px;
  padding-left: 40px;
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #1a1a1a;
  background-color: #fbf9fa;
  
}

.conversions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conversions-header h2 {
  font-size: 30px;
  color: #000;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
}

.conversions-header p {
  color: #333;
  margin: 4px 0 0;
}

.conversions-container .add-btn {
  background: #6366f1;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  text-shadow: 0 1px 2px 0 #0000000d;
  font-size: 13px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,0 0 #0000;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
    font-family: "GeistSans","GeistSans Fallback";
}
.add-btn:hover {
  background: #7e7fd9;
}

.conversions-container .add-btn span{
    font-size: 15px;
    margin-top: 1px;
}

.btn-plus.rotating svg {
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media (max-width: 768px) {
  .conversions-container {
    padding: 20px;
    padding-top: 90px; /* requested */
  }

  .conversions-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .conversions-header h2 {
    font-size: 22px;
  }

  .conversions-header p {
    font-size: 13px;
  }

  .add-btn {
    font-size: 12px;
    padding: 8px 14px;
    align-self: flex-start;
  }

}